.header {
  display: grid;
  background-color: black;
  color: white;
  padding: 2rem;
  grid-template-columns: 4fr 1fr;
}

.container {
  background-color: #cecece;
}

.span {
  margin-top: 0.6rem;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.search_bar {
  padding: 15px;
  width: 100%;
  font-size: 1rem;
  border-radius: 15px;
}
.search_bar:focus {
  outline: none;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card_container {
  width: 20%;
  min-width: 280px;
  margin: 3% 2% 1% 2%;
}

.image {
  width: 100%;
}

.add {
  border: 3px solid black;
  margin: 1%;
  padding: 5%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
}

.remove {
  border: 3px solid black;
  margin: 1%;
  padding: 5%;
  text-align: center;
  font-weight: bold;
  background-color: red;
  color: white;
  cursor: pointer;
}

.pagination_container {
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5%;
}
.pagination_button {
  cursor: pointer;
  margin: 0 10px;
  font-weight: bold;
}
.pagination_button:hover {
  text-decoration: underline;
  color: purple;
}
.pagination_arrow {
  border: 2px solid black;
  padding: 4px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  font-weight: bold;
}
.pagination_main {
  font-size: 1.5rem;
}

.footer {
  text-align: center;
  font-size: 1rem;
  padding: 1.5rem;
  background-color: black;
  color: white;
}

.link {
  text-decoration: underline;
  color: white;
  font-weight: bold;
}

.total_card {
  border: 3px solid black;
  padding: 1%;
  margin: 1%;
  background-color: white;
  width: fit-content;
}
